
	{% extends 'base.jinja2' %}
	
	{% block head %}
		
	{% endblock %}
	
	{% block style %}
		main.svelte-sv5zx7{text-align:center;padding:1em;max-width:240px;margin:0 auto}button.svelte-sv5zx7{padding:2rem}h1.svelte-sv5zx7{color:#ff3e00;text-transform:uppercase;font-size:4em;font-weight:100}@media(min-width: 640px){main.svelte-sv5zx7{max-width:none}}
	{% endblock %}
	
	{% block body %}
		<main class="svelte-sv5zx7"><p>ENV: ssr-cache</p>
	<h1 class="svelte-sv5zx7">Hello {{ name | default("Static", true)}}!</h1>
	<button class="svelte-sv5zx7">-</button>
	<pre>{{ count | default(5, true)}}</pre>
	<button class="svelte-sv5zx7">+</button>
	<p>Visit the <a href="https://svelte.dev/tutorial">Svelte tutorial</a> to learn how to build Svelte apps.</p>

	<div><a href="/ssr/items">Go to Items !</a></div>
	<div><button class="svelte-sv5zx7">Instant SSR Navigation</button></div>
</main>
	{% endblock %}
	
	{% block context %}
		<script>window.context = {...{"name":"Static","count":5}, {{ hydrated|safe | default("...{}", true) }} }</script>
	{% endblock %}
	